*{
    margin: 0;
    cursor:url(../img/cursor.png), auto;
}
body {
    background-image: url(../img/background.gif);
    background-size: cover;
}

@keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 1px;
    }
}

.textflicker, .attribute {
    animation: textShadow 1.6s infinite;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 600;
    animation: fadeout 2s forwards;
    animation-delay: 5s;
    pointer-events: none;
}

.cw_logo {
    position: absolute;
    animation: fadeout 2s forwards;
    animation-delay: 3s;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cw_logo {
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 0.8s;
}

@keyframes fadeout {
    0% { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

nav {
    height: 100px;
    width: 100%;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

nav a {
    text-decoration: none;
    letter-spacing: 5px;
}

nav li a:link {
    color: rgba(255, 255, 255, 1);
}

nav li a:hover {
    color: rgba(255,0,0,1) !important;
    text-transform: uppercase;
}

nav li a:visited {
    color: rgba(255, 255, 255, 1);
}

nav li a:active {
    text-transform: uppercase;
    color: rgba(0, 0, 255, 1) !important;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 25px;
    font-family: 'Ubuntu Mono', monospace;
}

#logo {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* Grid Rules */

.bio {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1550px;
}

.grid {
    height: 100%;
    display: grid;
    grid-template: repeat(4, 200px) / repeat(9, 150px);
    grid-gap: 20px;
    justify-items: center;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
}

.photo {
    grid-area: 1 / 1 / span 3 / span 3;
    background-image: url(../img/photo.jpg);
    background-size: cover;
}

.photo:hover {
    background-image: url(../img/spin.gif);
}

.photo:active {
    background-image: url(../img/spin.gif);
}

.forename {
    grid-area: 1 / 4 / span 1 / span 3;
}

.surname {
    grid-area: 1 / 7 / span 1 / span 3; 
}

.dob {
    grid-area: 2 / 4 / span 1 / span 2;
}

.gender {
    grid-area: 2 / 6 / span 1 / span 2;
}

.blood {
    grid-area: 2 / 8 / span 1 / span 2;
}

.id {
    grid-area: 4 / 1 / span 1 / span 3;
}

.education {
    grid-area: 3 / 4 / span 1 / span 3;
}

.location {
    grid-area: 4 / 4 / span 1 / span 3;
}

.location .value p:after {
    content: "ueAYm8xHnQ7wb";
}

.location .value span:after {
    content: "";
}

.location:hover .value p:after {
    animation: cipher-animate forwards 1s;
}

.location:active .value p:after {
    animation: cipher-animate forwards 1s;
}

.location:hover .value span:after {
    animation: corrupt-animate forwards 1s;
}

.location:active .value span:after {
    animation: corrupt-animate forwards 1s;
}

#corrupt {
    color: rgb(255, 0, 0);
}

@keyframes corrupt-animate {
    0% {
        content: "";
    }
    8% {
        content: "-";
    }
    16% {
        content: "--";
    }
    24% {
        content: "--C";
    }
    32% {
        content: "--CO";
    }
    40% {
        content: "--COR";
    }
    48% {
        content: "--CORR";
    }
    56% {
        content: "--CORRU";
    }
    64% {
        content: "--CORRUP";
    }
    72% {
        content: "--CORRUPT";
    }
    80% {
        content: "--CORRUPTE";
    }
    88% {
        content: "--CORRUPTED";
    }
    96% {
        content: "--CORRUPTED-";
    }
    100% {
        content: "--CORRUPTED--";
    }
}

@keyframes cipher-animate {
    0% {
        content: "eAYm8xHnQ7wb2";
    }
    8% {
        content: "AYm8xHnQ7wb2";
    }
    16% {
        content: "Ym8xHnQ7wb2";
    }
    24% {
        content: "m8xHnQ7wb2";
    }
    32% {
        content: "8xHnQ7wb2";
    }
    40% {
        content: "xHnQ7wb2";
    }
    48% {
        content: "HnQ7wb2";
    }
    56% {
        content: "nQ7wb2";
    }
    64% {
        content: "Q7wb2";
    }
    72% {
        content: "7wb2";
    }
    80% {
        content: "wb2";
    }
    88% {
        content: "b2";
    }
    96% {
        content: "2";
    }
    100% {
        content: "";
    }
}

.neuron {
    grid-area: 3 / 7 / span 2 / span 3;
}

#id {
    height: 100px;
    width: 100%;
}

#neuron {
    width: 100%;
    height: 100%;
}

.profile {
    width: 100%;
    height: 100%;
}

.box {
    background-color: black;
    transition-duration: 0.1s;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: 1px solid black;
}

.box:hover{
    width: 100%;
    height: 100%;
    transition-duration: 0.1s;
    outline: none;
    border: 1px solid red;
    box-shadow: 0 0 10px red;
    z-index: 101;
}

.subgrid {
    height: 100%;
    margin: 0 auto;
    display: grid;
    border-radius: 7px;
    grid-template: 1fr 1fr / 1fr;
    font-size: 30px;
}

.neuron .subgrid {
    grid-template: 1fr 3fr / 1fr !important;
}

.attribute {
    grid-area: 1 / 1 / span 1 / span 1;
    color: white;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.subgrid p {
    margin-left: 20px;
    padding: 30px 0;
}

.value {
    grid-area: 2 / 1 / span 2 / 1;
    background-color: rgb(78, 78, 78);
    font-family: 'Nova Flat', cursive;
}