{% load static %}
<html>
    <head>
        <title>cameronwebley.bio</title>
        <link href="https://fonts.googleapis.com/css2?family=Nova+Flat&family=Share+Tech+Mono&family=Ubuntu+Mono&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/home.scss' %}">
        <link rel="icon" href="{% static 'img/logo.png' %}">
    </head>
    <body>
        <div class="preloader" id="preloader">
            <div class="cw_logo"><img id="cw_logo" src="{% static 'img/logoblur.png' %}"></div>
        </div>
        <nav class="textflicker">
            <a href=""><img id="logo" src="{% static 'img/logo.png' %}"></a>
            <ul>
            <li><a href="/blog">blog.txt</a></li>
            <li><a href="/projects">projects.db</a></li>
            </ul>
        </nav>
        <div class="bio">
            <div class="grid">
                <div class="box photo"></div>
                <div class="box forename">
                    <div class="subgrid">
                        <div class="attribute"><p>Forename</p></div>
                        <div class="value"><p>Cameron</p></div>
                    </div>
                </div>
                <div class="box surname">
                    <div class="subgrid">
                        <div class="attribute"><p>Surname</p></div>
                        <div class="value"><p>Webley</p></div>
                    </div>
                </div>
                <div class="box dob">
                    <div class="subgrid">
                        <div class="attribute"><p>D.O.B</p></div>
                        <div class="value"><p>12/10/00</p></div>
                    </div>
                </div>
                <div class="box gender">
                    <div class="subgrid">
                        <div class="attribute"><p>Gender</p></div>
                        <div class="value"><p>Male</p></div>
                    </div>
                </div>
                <div class="box blood">
                    <div class="subgrid">
                        <div class="attribute"><p>Blood Type</p></div>
                        <div class="value"><p>A-</p></div>
                    </div>
                </div>
                <div class="box education">
                    <div class="subgrid">
                        <div class="attribute"><p>Education</p></div>
                        <div class="value"><p>University Of Birmingham</p></div>
                    </div>
                </div>
                <div class="box location">
                    <div class="subgrid">
                        <div class="attribute"><p>Current Location</p></div>
                        <div class="value"><p><span id="corrupt"></span></p></div>
                    </div>
                </div>
                <div class="box id">
                    <div class="subgrid">
                        <div class="attribute"><p>Identification</p></div>
                        <div class="value"><img id="id" src="{% static 'img/id.png' %}"></div>
                    </div>
                </div>
                <div class="box neuron">
                    <div class="subgrid">
                        <div class="attribute"><p>Neuron Signature</p></div>
                        <div class="value"><img id="neuron" src="{% static 'img/neuron.gif' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 